.about-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    width: 80%;
    height: 100vh;
}


.about-main {
    background: var(--dustyrosepink);
}


.about-main-inner {
    width: 82%;
    height: 100%;
    padding: 40px 25px 40px 25px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade ease-in-out both;
    animation-timeline: view();
    animation-range: 0% 35%;
}

.about-container-wrapper h1 {
    font-size: 6.0rem;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#grandeClinicImg_1 {
    width: 100%;
    -webkit-box-shadow: 0px -1px 30px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 30px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 30px -12px rgba(0, 0, 0, 0.75);
}

.about-main a {
    width: 35%;
}

.description {
    width: 70%;
    overflow: auto;
    padding-left: 40px;
    margin: 0;
}

.description h1 {
    font-size: 2.7rem;
}

.about-team-container {
    background: var(--dustyrosepink);
}

.about-team {
    max-width: 65%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 45px 25px 45px 25px;
}

.developer-card {
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    background: var(--purple);
}

.developer-card:nth-of-type(1) {
    animation: fadeLeft ease-in-out both;
    animation-timeline: view();
    animation-range: 0% 42%;
}

.developer-card:nth-of-type(2) {
    animation: fadeRight ease-in-out both;
    animation-timeline: view();
    animation-range: 0% 42%;
}

.developer-card-img-div {
    display: flex;
    justify-content: center;
}

.developer-card img {
    width: 60%;
    padding: 15px 0px 15px 0px;
    border-radius: 50%;
}

.developer-card h2 {
    font-size: 1.6rem;
    text-align: center;
}

.developer-card p {
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1250px) {
    .about-team {
        max-width: 80%;
    }

    .developer-card {
        width: 40%;
    }
}


@media only screen and (max-width: 630px) {

    .circles {
        display: none;
    }

    .circles li {
        display: none;
    }
    
    .about-main-inner {
        display: inline-block;
        animation: none;
        margin: auto;
        width: 100%;
    }

    .about-team {
        display: inline-block;
        width: 100%;
        max-width: 100%;
    }

    .developer-card {
        max-width: 100%;
        width: 100%;
    }

    .description {
        margin: auto;
        padding: 25px 0px 25px 0px;
        text-align: left;
    }

    .developer-card:nth-of-type(1), 
    .developer-card:nth-of-type(2) {
        animation: none;
    }

    .developer-card:nth-of-type(2) {
        margin-top: 30px;
    }

}