body {
    background-color: #3D5D95;
    padding: 0;
    margin: 0;
    transition: opacity 300ms ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal-type {
    animation: fade ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 60%;
}

.home-container {
    max-width: 60%;
    width: 100%;
    margin: auto;
    padding: 9rem 2rem 0rem 2rem;
    height: 100vh;
}

.web-title {
    color: var(--whitegray);
    margin: 50px 0px 0px 0px;
    font-size: 8rem;
    font-family: 'KulimPark-SemiBold';
}

.web-title-explanation {
    color: var(--whitegray);
    margin-top: 15px;
}

.blur-effect {
    box-shadow: 0 0 200px 61px #66ccff;
    position: absolute;
    z-index: -100;
    margin-bottom: 100px;
    top: 350px;
}

.home-main {
    width: 100%;
    max-width: 93%;
    background-color: #5D76A9;
    color: var(--whitegray);
    padding: 35px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.inner-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page-img {
    width: 350px;
    height: 350px;
}

.inner-home-main {
    display: flex;
    justify-content: center;
}

.inner-home-main-right {
    font-family: 'KulimPark-SemiBold';
    text-align: right;
}

.inner-home-main-left {
    display: flex;
    align-items: center;
}

.inner-home-main p {
    font-size: 1.2rem;
    font-family: 'KulimPark-Regular';
    max-width: 90%;
    margin-right: auto;
}

.inner-home-main-right h2 {
    font-size: 2.1rem;
    margin-bottom: 35px;
}

.nested-inner-home-main-left {
    text-align: left;
}

.nested-inner-home-main-left h2 {
    margin-bottom: 20px;
}

#website-img {
    width: 450px;
    height: 450px;
}

/* Responsive Media CSS */

@media screen and (max-width: 1300px) {
    .inner-home-container {
        display: inline;
    }

    .home-left {
        text-align: center;
    }

    .home-right {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 1060px) {
    .home-container {
        max-width: 100%;
        width: 100%;
        margin: auto;
        padding: 4rem 0rem 3rem 0rem;
    }

    .inner-home-main {
        display: inline;
    }

    .inner-home-main-left,
    .inner-home-main-right {
        justify-content: center;
        text-align: center;
    }

    .inner-home-main p {
        font-size: 1.1rem;
        max-width: 100%;
    }

}


@media screen and (max-width: 900px) {

    .inner-home-main-right p {
        font-size: 1rem;
    }


    #website-img {
        width: 300px;
        height: 300px;
    }
}


@media screen and (max-width: 630px) {
    .web-title {
        font-size: 4rem;
    }

    #home-page-img {
        width: 250px;
        height: 250px;
    }

    .home-container {
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

}


@media screen and (max-width: 400px) and (max-height: 670px) {
    .home-container {
        padding-top: 0rem;
        padding-bottom: 0rem;
        height: 70vh;
    }

    .web-title {
        font-size: 2rem;
    }

    .web-title-explanation {
        font-size: 1rem;
    }

    #home-page-img {
        width: 200px;
        height: 200px;
    }

    .home-main {
        padding-top: 0;
    }
}