body {
    background-color: var(--gray);
}

.home-container {
    max-width: 60%;
    width: 100%;
    margin: auto;
    padding: 9rem 2rem 12rem 2rem;
}

.web-title {
    text-align: right;
    color: var(--whitegray);
    margin: 50px 0px 0px 0px;
    font-size: 8rem;
}

.web-title-explanation {
    text-align: right;
    color: var(--whitegray);
    margin-top: 15px;
}

.blur-effect {
    box-shadow: 0 0 200px 61px #66ccff;
    position: absolute;
    z-index: -100;
    margin-bottom: 100px;
    top: 350px;
}

.home-main {
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-color: #373B44;
    color: var(--whitegray);
    padding: 25px;
    text-align: center; 
}