body {
    background-color: #3D5D95;
    padding: 0;
    margin: 0;
}


html {
    height: 100vh;
    min-height: 100%;
}

.home-container {
    max-width: 60%;
    width: 100%;
    margin: auto;
    padding: 9rem 2rem 0rem 2rem;
    height: 100vh; 
}

.web-title {
    color: var(--whitegray);
    margin: 50px 0px 0px 0px;
    font-size: 8rem;
    font-family: 'KulimPark-SemiBold';
}

.web-title-explanation {
    color: var(--whitegray);
    margin-top: 15px;
}

.blur-effect {
    box-shadow: 0 0 200px 61px #66ccff;
    position: absolute;
    z-index: -100;
    margin-bottom: 100px;
    top: 350px;
}

.home-main {
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-color: #373B44;
    color: var(--whitegray);
    padding: 25px;
    text-align: center;
    height: 100%; 
}

.inner-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page-img {
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 1300px){
    .inner-home-container {
        display: inline;
    }

    .home-left {
        text-align: center;
    }

    .home-right {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .home-container {
        max-width: 100%;
        width: 100%;
        margin: auto;
        padding: 4rem 0rem 3rem 0rem;
    }
}

@media screen and (max-width: 630px) {
    .web-title {
        font-size: 4rem;
    }

    #home-page-img {
        width: 250px;
        height: 250px;
    }

    .home-container {
        padding-top: 1rem;
        padding-bottom: 0rem;
    }    

}

@media screen and (max-width: 400px) {
    .home-container {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }    
    
    .web-title {
        font-size: 2rem;
    }
    
    .web-title-explanation {
        font-size: 1rem;
    }
    
    #home-page-img {
        width: 175px;
        height: 175px;
    }
}