/* Overriding bootstrap colors */

.nav {
  --bs-nav-link-color: var(--whitegray);
  --bs-nav-link-hover-color: var(--whitegray);
  align-items: center;
}


/* */

.nav-container {
  display: flex;
  justify-content: center;
}

.nav #logo {
  width: 100px;
  height: 100px;
  margin-right: 75px;
}

.nav-link {
  color: var(--whitegray);
  font-family:"KulimPark-Semibold";
  margin: 15px 15px 10px 20px;
  font-size: 1.2em;
}

.nav-link:hover {
  border-bottom: 2px solid var(--whitegray);
  color: var(--whitegray);
  transition: 0.3s;
}

.nav-link:hover::after {
  color: var(--whitegray);
}

.nav-link:active {
  color: var(--whitegray);
}

