/* Overriding bootstrap colors */

.nav {
  --bs-nav-link-color: var(--whitegray);
  --bs-nav-link-hover-color: var(--whitegray);
  align-items: center;
}

/* */

.nav-container {
  display: flex;
  justify-content: center;
}

.nav #logo {
  width: 100px;
  height: 100px;
  margin-right: 75px;
}

.nav-link {
  color: var(--whitegray);
  font-family: "KulimPark-Semibold";
  margin: 15px 15px 10px 20px;
  font-size: 1.2em;
}

.nav-link:hover {
  border-bottom: 2px solid var(--whitegray);
  color: var(--whitegray);
  transition: 0.3s;
}

.nav-link:hover::after {
  color: var(--whitegray);
}

.nav-link:active {
  color: var(--whitegray);
}

#mobile-navbar {
  margin-top: 25px;
  display: none;
  cursor: pointer;
}

#mobile-navbar div {
  width: 35px;
  height: 3px;
  background-color: var(--whitegray);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7.5px);
  transform: rotate(45deg) translate(-6px, -7.5px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  height: 300px;
  width: 100%;
  list-style-type: none;
}

.mobile-navbar-item .nav-link {
  border: none;
}

.mobile-navbar-item a:hover{
  font-size: 1.6rem;
  font-size-adjust: 28px;
}

.mobile-navbar-item a {
  transition: ease-in-out 0.3s;
}


@media only screen and (max-width: 630px) {

  .nav-container .nav {
    display: none;
  }

  #mobile-navbar {
    display: block;
  }

  .nav-container {
    display: block;
    margin: auto;
    max-width: 90%;
    width: 100%;
  }

  .open .mobile-menu {
    padding-left: 0;
  } 

}