.pricing-container {
    margin: 5vh;
    display: flex;
    align-items: center;
    font-family: "Poppins-Medium";
}

.pricing-container-wrapper {
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.pricing-wrapper-inner {
    display: flex;
    font-family: "Poppins-Light";
    justify-content: center;
    align-items: first baseline;
    margin: auto;
}

.price-card {
    margin: 0px;
    padding-top: 10px;
    padding: 15px 60px 15px 60px;
    border: 1px solid rgb(209, 209, 209);
    background-color: #E6E3E0;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 25px;
}

.price-card p,
.price-card h2 {
    text-align: center;
}

.unavailable {
    margin: 0;
	padding: 0px 0 0px 20px;
	list-style: none;
	background-image: url(src/assets/CROSS.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 10px;
}
.available {
    margin: 0;
	padding: 0px 0 0px 20px;
	list-style: none;
	background-image: url(src/assets/check.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 10px;
}


.plan-btn {
    background-color: black;
    box-sizing: border-box;
    color: var(--whitegray);
    cursor: pointer;
    fill: #000;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .1s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: auto;
    border-style: none;
}

.plan-btn a {
    text-decoration: none;
}


.plan-btn:hover {
    background-color: white;
    color: black;
}

.plan-btn a:hover {
    color: black;
}

@media screen and (min-width: 1550px) {
    .pricing-container {
        height: 82vh;
    }
}


@media screen and (max-width: 1250px) {

    .pricing-container {
        height: 100%;
    }

    .pricing-wrapper-inner {
        display: inline;
    }

}



@media screen and (max-width: 630px) {

    .pricing-container {
        height: 100%;
    }

    .pricing-wrapper-inner {
        display: inline;
    }

    .price-card {
        margin: 5px;
    }

    .price-card{
        width: 100%;
        height: 460px;
        padding: 10px 0px 10px 0px;
    }

}
